In [1]:
import pandas as pd

In [5]:
data=[
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]

df=pd.DataFrame(data,columns=['id','age']).astype({'id':'int64','age':'int64'})
df

   id  age
0   1   15
1   2   11
2   3   11
3   4   20

In [8]:
#get [no.of_rows , no.of_columns]

[df.shape[0],df.shape[1]]

[4, 2]