#### Extract Unique values dictionary values.

In [1]:
#input

test_dict = {'gfg': [5, 6, 7, 8],
             'is': [10, 11, 7, 5],
             'best': [6, 12, 10, 8],
             'for': [1, 2, 5]}

#output   The unique values list is : [1, 2, 5, 6, 7, 8, 10, 11, 12]

In [14]:
def unique(test_dict):
    unique_val=[]
    for i in test_dict.values():
        for j in i:
            if j not in unique_val:
                unique_val.append(j)
                
    return sorted(unique_val)

unique(test_dict)

[1, 2, 5, 6, 7, 8, 10, 11, 12]

In [15]:
def unique(test_dict):
    values={ele for val in test_dict.values() for ele in val}
    return list(values)

unique(test_dict)

[1, 2, 5, 6, 7, 8, 10, 11, 12]

In [33]:
a=[]
for i, j in test_dict.items():
    a.extend(j)
    
sorted(list(set(a)))

[1, 2, 5, 6, 7, 8, 10, 11, 12]

In [34]:
a=[]
for i,j in test_dict.items():
    for h in j:
        a.append(h)
list(sorted(set(a)))

[1, 2, 5, 6, 7, 8, 10, 11, 12]

In [43]:
#using itertools aand chain
from itertools import chain

sorted((list(set(chain(*test_dict.values())))))

[1, 2, 5, 6, 7, 8, 10, 11, 12]

In [48]:
def unique(inpt):
    a=inpt.values()
    unique_=set(chain(*a))
    return list(unique_)

unique(test_dict)

[1, 2, 5, 6, 7, 8, 10, 11, 12]

#### Python program to find the sum of all items in a dictionary.

In [53]:
Input={'x': 25, 'y':18, 'z':45}
#Output : 88

In [54]:
sum(Input.values())

88

In [55]:
sum_=0
for i in  Input.values():
    sum_+=i
    
sum_

88

In [56]:
a=[]

for i in Input.values():
    for j in range(i):
        a.append(1)
        
a.count(1)

88

In [63]:
#using reduce
from functools import reduce

a=Input.values()

reduce(lambda x,y: x+y,a)

88

In [66]:
from functools import reduce

reduce(lambda x,y:x+Input[y],Input,0)

88

In [65]:
#using indexing and for loop

a=[]

for i in Input:
    a.append(Input[i])
sum(a)

88

In [60]:
a=10 #input1
b=20  #input2

c=[a,b] #list containing inputs

sum_=[] #dummy list 

for i in c:
    for j in range(i):
        sum_.append(1)
    
sum_.count(1)

30

#### Ways to remove a key from dictionary.

In [71]:
input1={'Anuradha': 21, 'Haritha': 21, 'Arushi': 22, 'Mani': 21}  #input

#key to remove "Mani"

output={'Anuradha': 21, 'Haritha': 21, 'Arushi': 22}

In [72]:
#using del

del input1["Mani"]

input1

{'Anuradha': 21, 'Haritha': 21, 'Arushi': 22}

In [74]:
input1={'Anuradha': 21, 'Haritha': 21, 'Arushi': 22, 'Mani': 21}

input1.pop("Mani")

input1

{'Anuradha': 21, 'Haritha': 21, 'Arushi': 22}

In [80]:
#using item method

{key:val for key,val in input1.items() if key!="Mani"}

{'Anuradha': 21, 'Haritha': 21, 'Arushi': 22}

In [83]:
{key:input1[key] for key in input1.keys() if key!='Mani'}

{'Anuradha': 21, 'Haritha': 21, 'Arushi': 22}

In [77]:
#using loop
input1={'Anuradha': 21, 'Haritha': 21, 'Arushi': 22, 'Mani': 21}

def remove(inpt,key):
    new_inpt={}
    for i in inpt:
        if i!=key:
            new_inpt[i]=inpt[i]
    return new_inpt

remove(input1,'Mani')

{'Anuradha': 21, 'Haritha': 21, 'Arushi': 22}

#### Ways to sort list of dictionaries by values in Python – Using itemgetter

In [102]:
from operator import itemgetter
list1 = [{"name": "Nandini", "age": 20},
       {"name": "Manjeet", "age": 20},
       {"name": "Nikhil", "age": 19}]

sorted(list1,key=itemgetter('age'))

[{'name': 'Nikhil', 'age': 19},
 {'name': 'Nandini', 'age': 20},
 {'name': 'Manjeet', 'age': 20}]

In [106]:
sorted(list1,key=itemgetter('age','name'))

[{'name': 'Nikhil', 'age': 19},
 {'name': 'Manjeet', 'age': 20},
 {'name': 'Nandini', 'age': 20}]

In [107]:
#using lambda
list1 = [{"name": "Nandini", "age": 20},
       {"name": "Manjeet", "age": 20},
       {"name": "Nikhil", "age": 19}]

sorted(list1,key=lambda i:i['age'])

[{'name': 'Nikhil', 'age': 19},
 {'name': 'Nandini', 'age': 20},
 {'name': 'Manjeet', 'age': 20}]

In [109]:
sorted(list1,key=lambda i:(i['age'],i['name']))

[{'name': 'Nikhil', 'age': 19},
 {'name': 'Manjeet', 'age': 20},
 {'name': 'Nandini', 'age': 20}]

In [113]:
a={'h':2,'j':1,'k':4,'l':3}

sorted(a,key=lambda i:a.get(i))

['j', 'h', 'l', 'k']

In [115]:
a={'h':2,'j':1,'k':4,'l':3}
srtd={}
keys=sorted(a,key=lambda i:a.get(i))

for key in keys :
    srtd[key]=a[key]
    
srtd

{'j': 1, 'h': 2, 'l': 3, 'k': 4}

#### Merging two Dictionaries.

In [9]:
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}    #inputs

#output {'c': 4, 'a': 10, 'b': 8, 'd': 6}

In [10]:
#using update

dict1.update(dict2)

dict1

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [16]:
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}    #inputs

#output {'c': 4, 'a': 10, 'b': 8, 'd': 6}
def merge(dict1,dict2):
    for i in dict2:
        dict1[i]=dict2[i]
        
    return dict1

merge(dict1,dict2)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [19]:
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}    #inputs

#output {'c': 4, 'a': 10, 'b': 8, 'd': 6}

def merge(dict1,dict2):
    for i in dict2:
        dict1.update({i:dict2[i]})
        
    return dict1

merge(dict1,dict2)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [21]:
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}    #inputs

#output {'c': 4, 'a': 10, 'b': 8, 'd': 6}

def merge(dict1,dict2):
    dic={}
    for i in [dict1,dict2]:
        for j in i:
            dic[j]=i[j]
            
    return dic

merge(dict1,dict2)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [27]:
{**dict1,**dict2}

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [28]:
dict1|dict2

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [32]:
dict(dict1.items()|dict2.items())

{'d': 6, 'a': 10, 'c': 4, 'b': 8}

In [40]:
#using reduce
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4} 
dict3={'e':10,'f':13}

def merge(inpt1,inpt2):
    merged=inpt1.copy()
    merged.update(inpt2)
    return merged

from functools import reduce
reduce(merge,[dict1,dict2,dict3])

{'a': 10, 'b': 8, 'd': 6, 'c': 4, 'e': 10, 'f': 13}

#### Convert key-values list to flat dictionary.

In [41]:
test_dict = {'month' : [1, 2, 3],
             'name' : ['Jan', 'Feb', 'March']}   #input


#output {1: ‘Jan’, 2: ‘Feb’, 3: ‘March’}

In [45]:
def flatten(inpt):
    return dict(zip(inpt['month'],test_dict['name']))

flatten(test_dict)

{1: 'Jan', 2: 'Feb', 3: 'March'}

In [51]:
# using keys
def flat(inpt):
    a=list(inpt.values())[0]
    b=list(inpt.values())[1]
    out=dict()
    for i in range(len(b)):
        out[a[i]]=b[i]
    
    return out

flat(test_dict)

{1: 'Jan', 2: 'Feb', 3: 'March'}

In [55]:
#dictionary comprehension

a={test_dict['month'][i]:test_dict['name'][i] for i in range(len(test_dict['month']))}

#### Insertion at the beginning in OrderedDict.

In [59]:
dict1 = {'a':1, 'b':2}   #original_dict

insert =('c', 3)    #item to be inserted

#Output:  {'c':3, 'a':1, 'b':2}

In [65]:
a=dict([insert]).copy()
a.update(dict1)
a

{'c': 3, 'a': 1, 'b': 2}

2

In [69]:
#using list

def insertion(dict1,insert):
    keys=list(dict1.keys())
    values=list(dict1.values())
    keys.insert(0,insert[0])
    values.insert(0,insert[1])
    
    return dict(zip(keys,values))

insertion(dict1,insert)

{'c': 3, 'a': 1, 'b': 2}

In [79]:
#using move to end
from collections import OrderedDict

dict1 = {'a':1, 'b':2}   #original_dict

insert =('c', 3)    #item to be inserted

#Output:  {'c':3, 'a':1, 'b':2}

temp=OrderedDict(dict1.copy())
temp.update(dict([insert]))
temp.move_to_end('c' ,last=False)
temp

OrderedDict([('c', 3), ('a', 1), ('b', 2)])

In [82]:
a=OrderedDict([(1,2),(3,4)])
a

OrderedDict([(1, 2), (3, 4)])

#### Check order of character in string using OrderedDict( )

Given an input string and a pattern, check if characters in the input string follows the same order as determined by characters present in the pattern. Assume there won’t be any duplicate characters in the pattern.

In [63]:
input1 = "engineers rock"
pattern="er"
#output=True

In [64]:
from collections import OrderedDict

def pattern_match(inpt,patrn):
    dictn=OrderedDict.fromkeys(inpt)
    ptrnlen=0
    
    for key,val in dictn.items():
        if (key==patrn[ptrnlen]):
            ptrnlen+=1
        if ptrnlen==len(patrn):
            return True
        
    return False

pattern_match(input1,pattern)

True

In [65]:
string = "engineers rock"
pattern2="gsr"

pattern_match(string,pattern2)

False

In [66]:
def ptrn(inpt,pattern):
    a=[]
    
    for i in inpt:
        if i in pattern and i not in a:
            a.append(i)
            
    return "".join(a)==pattern
ptrn(input1,pattern)

True

In [67]:
ptrn(string,pattern2)

False

In [68]:
ptrn(input1,pattern)

True

#### Dictionary and counter in Python to find winner of election.

Given an array of names of candidates in an election. A candidate name in the array represents a vote cast to the candidate. Print the name of candidates received Max vote. If there is tie, print a lexicographically smaller name.

In [134]:
vote=[ "johnny","john", "jackie", 
"johnny", "john", "jackie", 
"jamie", "jamie", "john",
"johnny", "jamie", "johnny", 
"john"]

#output john  (john and johnny have tie but based on len wiineer is john)

In [103]:
from collections import Counter
def winner(vote):
    dict_count= Counter(vote)
    max_=max(dict_count.values())
    name=[]
    for i,j in dict_count.items():
        if j==max_:
            name.append(i)
    return('Winner is : ' ,sorted(name)[0])
winner(vote)

('Winner is : ', 'john')

In [107]:
from collections import Counter
def winner_(vote):
    dict_count=Counter(vote)
    max_voted=[i for i in dict_count.keys() if dict_count[i]==max(dict_count.values())]
    
    return sorted(max_voted)[0]

winner_(vote)

'john'

In [106]:
def winner1(vote):
    dict_count=Counter(vote)
    dict_votes={}
    for key,value in dict_count.items():
        dict_votes[value]=[]
    for key,value in dict_count.items():
        dict_votes[value].append(key)
        
    max_vote=max(dict_votes)
    if len(dict_votes[max_vote])>1:
            return sorted(dict_votes[max_vote],reverse=False)[0]
    else:
        return dict_votes[max_vote][0]
    
winner(vote)

('Winner is : ', 'john')

#### Append Dictionary Keys and Values ( In order ) in dictionary.

In [110]:
input1={'link':1,'social':2,'media':3}

#output ['link','social','media',1,2,3]

In [118]:
def list_(inpt):
    a=list(inpt.keys())
    b=list(inpt.values())
    a.extend(b)
    return a
list_(input1)

['link', 'social', 'media', 1, 2, 3]

In [119]:
def list1(inpt):
    key=[i for i in inpt]
    value=[inpt[i] for i in inpt]
    out=[]
    for i in ([key,value]):
        for j in i:
            out.append(j)
    return out
list1(input1)

['link', 'social', 'media', 1, 2, 3]

In [123]:
from itertools import chain
def list1(inpt):
    key=[i for i in inpt]
    value=[inpt[i] for i in inpt]
    return list(chain(key,value))
list1(input1)

['link', 'social', 'media', 1, 2, 3]

### Sort Python Dictionaries by Key or Value.

In [124]:
Input1 ={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

#Output {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [137]:
# eg 1 sorting dictionary by key

def sort_by_key(inpt):
    keys=sorted(inpt)
    return {key:inpt[key] for key in keys}

sort_by_key(Input1)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [139]:

#output = [('rajnish', '9'), ('ravi', '10'), ('sanjeev', '15'), ('suraj', '32'), ('yash', '2')]

def sort_(inpt):
    item=inpt.items()
    return OrderedDict(sorted(item))

sort_(Input1)

OrderedDict([('rajnish', 9),
             ('ravi', 10),
             ('sanjeev', 15),
             ('suraj', 32),
             ('yash', 2)])

In [158]:
#order by values

#output {'ravi': 2, 'rajnish': 9, 'sanjeev': 10, 'yash': 15, 'suraj': 32}

def order_(inpt):
    keys_sorted=sorted(inpt,key=lambda x: inpt[x])
    return {key:inpt[key] for key in keys_sorted}
order_(Input1)

{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

In [160]:

dict(sorted(Input1.items(),key=lambda i:i[1]))

{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

#### Sort Dictionary key and values List

In [1]:
input1= {'c': [3], 'b': [12, 10],'a': [19, 4]} 

#Output : {‘a’: [4, 19], ‘b’: [10, 12], ‘c’: [3]}

In [2]:
def sort_(inpt):
    key_sort=sorted(inpt)
    return {key:list(sorted(inpt[key])) for key in key_sort}
sort_(input1)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [3]:
#dictionary comprehension
{key:sorted(input1[key]) for key in sorted(input1)}

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [14]:
#using lambda

def sorting(input1):
    input1=dict(sorted(input1.items(),key=lambda x:x[0]))
    return {key:sorted(value) for key,value in input1.items()}
sorting(input1)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

#### Handling missing keys in Python dictionaries

In [15]:
# basic if else method

inpt={'a':1,'b':3}

user_key='c'

In [16]:
if user_key in inpt:
    print(inpt[user_key])
else:
    print('Given key not found')

Given key not found

In [22]:
#using get
inpt.get('c', "Not Found")

'Not Found'

In [27]:
#using setdefault

inpt.setdefault('c','not found')

print('inpt after applying set default : ',inpt)
print()
print('c in inpt : ' ,inpt['c'])

inpt after applying set default :  {'a': 1, 'b': 3, 'c': 'not found'}

c in inpt :  not found

In [36]:
import collections

dctnry=collections.defaultdict(lambda : 'Not found')

dctnry['a']=1
dctnry['b']=2
dctnry['a']
dctnry['c']

'Not found'

##### Python dictionary with keys having multiple inputs.

In [40]:
places = {("19.07'53.2", "72.54'51.0"):"Mumbai", ("28.33'34.1", "77.06'16.6"):"Delhi"}

#has lat and longitude detail as key and palce name as value

long=[]
lat=[]
city=[]
for i in places:
    lat.append(i[0])
    long.append(i[1])
    city.append(places[i])
    
print(lat)

print()

print(long)

print()

print(city)

["19.07'53.2", "28.33'34.1"]

["72.54'51.0", "77.06'16.6"]

['Mumbai', 'Delhi']

In [50]:
a=dict()
a['b','c']=3,4
a['d','e']=[5,6]
a

{('b', 'c'): (3, 4), ('d', 'e'): [5, 6]}

In [51]:
for i in a:
    print(a[i][0])

3
5

In [53]:
for i in a:
    print(i[0])

b
d

In [54]:
data = {
    (1, "John", "Doe"): {"a": "geeks", "b": "software", "c": 75000},
    (2, "Jane", "Smith"): {"e": 30, "f": "for", "g": 90000},
    (3, "Bob", "Johnson"): {"h": 35, "i": "project", "j": "geeks"},
    (4, "Alice", "Lee"): {"k": 40, "l": "marketing", "m": 100000}
}

In [58]:
print(data[(1,'John','Doe')]['a'])
print(data[(2,'Jane','Smith')]['f'])
print(data[(3,'Bob','Johnson')]['j'])

geeks
for
geeks

In [61]:
inpt=['Geeks','Data',10]
for i in data[(1,'John','Doe')]:
    if i=='a':
        data[(1,'John','Doe')][i]=inpt[0]
    elif i=='b':
        data[(1,'John','Doe')][i]=inpt[1]
    else:
        data[(1,'John','Doe')][i]=inpt[2]
        
data[(1,'John','Doe')]

{'a': 'Geeks', 'b': 'Data', 'c': 10}

#### Print anagrams together in Python using List and Dictionary

In [68]:
arr = ['cat','dog', 'tac', 'god', 'act']  #Input

#Output: ‘cat tac act dog god’

In [71]:
def anagram(inpt):
    out=[]
    for i in inpt:
        if i not in out:
            out.append(i)
            for j in inpt:
                if j!=i:
                    len_=0
                    for h in j:
                          if h in i:
                                len_+=1
                    if len_==len(j)  :
                         out.append(j)
        
        
    return " ".join(out)

anagram(arr)

'cat tac act dog god'

In [79]:
arr = ['cat','dog', 'tac', 'god', 'act','cat']  #Input

#Output: ‘cat tac act cat dog god’

def anagram1(inpt):
    out=[]
    for i in inpt:
        if i not in out:
            out.append(i)
            compare=i
            inpt.remove(i)
            for j in inpt:
                len_=0
                for  h in j:
                    if h in compare:
                        len_+=1
                if len_==len(j):
                      out.append(j)
    return  " ".join(out)

anagram1(arr)

'cat tac act cat god dog'

### Imp using dict

In [109]:
from itertools import chain
arr = ['cat','dog', 'tac', 'god', 'act']

def anagram2(inpt):
    out={}
    for val in arr:
        
        key="".join(sorted(val))
        
        if key in out.keys():
            out[key].append(val)
            
        else:
            out[key]=[]
            out[key].append(val)
            
    value=list(chain(*out.values()))
    return " ".join(value)

anagram2(arr)

'cat tac act dog god'

In [110]:
def anagram2(inpt):
    out={}
    for val in arr:
        
        key="".join(sorted(val))
        
        if key in out.keys():
            out[key].append(val)
            
        else:
            out[key]=[]
            out[key].append(val)
    output=""
    for key,val in out.items():
        if output:
            output=output+" "+" ".join(val)
        else:
            output=" ".join(val)
    return output

anagram2(arr)

'cat tac act dog god'

#### K’th Non-repeating Character in Python using List Comprehension and OrderedDict

In [112]:
inpt = 'geeksforgeeks'
k = 3
#Output : r

In [116]:
from collections import Counter
def kth (inpt,k):
    dictn=Counter(inpt)
    non_rptng=[key for key , value in dictn.items() if value==1]
    return non_rptng[k-1]
kth(inpt,k)

'r'

In [121]:
def kth_non(inpt,k):
    dictn={}
    for i in inpt:
        dictn[i]=dictn.get(i,0)+1
    return [key for key,value in dictn.items() if value==1][k-1]

kth_non(inpt,k)

'r'

In [125]:
#using ordered dict and fromkeys
from collections import OrderedDict
def kth_(inpt,k):
    dictn=OrderedDict.fromkeys(inpt,0)
    for i in inpt:
        dictn[i]=dictn[i]+1
    return [key for key,value in dictn.items() if value==1][k-1]

kth_(inpt,k)

'r'

#### Python Counter to find the size of largest subset of anagram words

In [126]:
Input='ant magenta magnate tan gnamate'

#output 3

In [129]:
def large_len(inpt):
    lst_words=inpt.split()
    dictn=dict()
    for val in lst_words:
        key="".join(sorted(val))
        if key in dictn.keys():
                dictn[key].append(val)
            
        else:
            dictn[key]=[]
            dictn[key].append(val)
            
    return max([len(val) for val in dictn.values()])

large_len(Input)

3

In [130]:
Input="cars bikes arcs steer"

large_len(Input)

2

#### Remove all duplicates words from a given sentence.

In [2]:
Input = 'Geeks for Geeks'
# Geeks for

In [4]:
def remove_dup(Input):
    dictn=dict()
    list_=Input.split()
    
    for i in list_:
            dictn[i]=dictn.get(i,0)+1
            
    return " ".join(list(dictn.keys()))

remove_dup(Input)

'Geeks for'

In [8]:
from collections import OrderedDict

def remove_dup1(Input):
    dictn=OrderedDict.fromkeys(Input.split())
    return " ".join(list(dictn.keys()))

remove_dup1(Input)

'Geeks for'

In [12]:
Input='Python is great and Java is also great'

remove_dup1(Input)

'Python is great and Java also'

In [18]:
def split_dup(Input):
    a=Input.split()
    b=[]
    for i in a:
        if i not in b:
            b.append(i)
    return " ".join(b)

Input='Python is great and Java is also great'
split_dup(Input)

'Python is great and Java also'

In [19]:
split_dup("Geeks for Geeks")

'Geeks for'

In [21]:
" ".join(set(Input.split()))

'also and is Java great Python'

In [24]:
#using reduce
from functools import reduce

def remv_dup(Input):
    lst_=Input.split()
    result=reduce(lambda x,y:x+[y] if y not in x else x ,lst_,[] )
    
    return " ".join(result)

remv_dup(Input)

'Python is great and Java also'

In [26]:
remv_dup("Geeks for Geeks")

'Geeks for'

In [30]:
#using recursion 

def recrse(Input):
    lst_=Input.split()
    if lst_:
        if lst_[0] in lst_[1:]:
            return recrse(" ".join(lst_[1:]))
        else :
            return lst_[0]+" "+recrse(" ".join(lst_[1:]))
    else:
        return ""

print(recrse(Input))

print()

print(recrse("Geeks For Geeks"))

Python and Java is also great

For Geeks

#### Python Dictionary to find mirror characters in a string

Given a string and a number N, we need to mirror the characters from the N-th position up to the length of the string in alphabetical order. In mirror operation, we change ‘a’ to ‘z’, ‘b’ to ‘y’, and so on.

In [32]:
Input='paradox'
n=3
#output paizwlc

In [35]:
pre='abcdefghijklmnopqrstuvwxyz'

miror="".join(sorted(pre,reverse=True))

In [46]:
def mirrored(Input,k):
    global pre
    global miror
    pre_mir=dict(zip(pre,miror))
    Input_dict={i:Input[i] for i in range(len(Input))}
    for i in range(k-1,len(Input)):
        Input_dict[i]=pre_mir[Input_dict[i]]
        
    return "".join(list(Input_dict.values()))
mirrored(Input,n)

'pneumlmrz'

In [47]:
Input='pneumonia'
n= 6
#out_put pneumlmrz

mirrored(Input,n)

'pneumlmrz'

In [52]:
def mirrored(Input,k):
    pre='abcdefghijklmnopqrstuvwxyz'
    suf="".join(list(sorted(pre,reverse=True)))
    dicn=dict(zip(pre,suf))
    
    
    prefix=Input[:k-1]
    suffix=Input[k-1:]
    
    miror=''
    for i in range(len(suffix)):
        miror=miror+dicn[suffix[i]]
    
    return prefix+miror

mirrored(Input,n)

'pneumlmrz'

#### Counting the frequencies in a list using dictionary in Python

In [53]:
Input=[1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2]

#output ({1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [58]:

def count_(Input):
    counts=dict.fromkeys(Input,0)
    for i in Input:
        counts[i]=counts.get(i)+1
    return counts

count_(Input)

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [61]:
sortd=list(set(Input))
{i:Input.count(i) for i in sortd}

{1: 5, 2: 4, 3: 3, 4: 3, 5: 2}

#### Convert a list of Tuples into Dictionary.

In [62]:
Input=[("akash", 10), ("gaurav", 12), ("anand", 14),("suraj", 20), ("akhil", 25), ("ashish", 30)]

#out {'akash': [10], 'gaurav': [12], 'anand': [14], 'ashish': [30], 'akhil': [25], 'suraj': [20]}

In [63]:
def dictn(Input):
    output=[(i,[j]) for i, j in Input]
    return dict( output)
dictn(Input)

{'akash': [10],
 'gaurav': [12],
 'anand': [14],
 'suraj': [20],
 'akhil': [25],
 'ashish': [30]}

In [67]:
def dictn1(inpt):
    out_={}
    for i ,j in inpt:
        out_.setdefault(i,[j])
        
    return out_
dictn1(Input)

{'akash': [10],
 'gaurav': [12],
 'anand': [14],
 'suraj': [20],
 'akhil': [25],
 'ashish': [30]}

##### Python counter and dictionary intersection example.

Given two strings, find if we can make first string from second by deleting some characters from second and rearranging remaining characters.

In [70]:
s1='ABHISHEKsinGH'
s2 ='gfhfBHkooIHnfndSHEKsiAnG'
#output Posible

In [73]:
from collections import Counter
def possible_or_not(inpt1,inpt2):
    dict1=Counter(inpt1)
    dict2=Counter(inpt2)
    len_=0
    for i in dict1:
        if i in dict2 and dict2[i]>=dict1[i]:
            len_+=1
    print('Possible') if len_==len(list(dict1.keys())) else print("not possible")
    
possible_or_not(s1,s2)

Possible

In [75]:
possible_or_not('Hello' ,'LinkedIn')

not possible

#### Python dictionary, set and counter to check if frequencies can become same.

In [1]:
inpt='xyyz'
#output Possible

inpt2='xyyzz'
#out Possible

inpt3='xxxxyyzz'
#out Not possible

In [92]:
def can_not(inpt):
    count_=Counter(inpt)
    possibility=[]
    for i in count_:
        flag=0
        for j in count_:
            if count_[j]!= count_[i] and count_[j]-1 != count_[i] and count_[j]-1!=0:
                flag=1
                break
        if flag==1:
            possibility.append(False)
        else:
            possibility.append(True)
    print("Possible") if any(possibility)  else  print('Not possible')
    
can_not(inpt)

Possible

In [93]:
inpt2='xyyzz'
#out Possible
can_not(inpt2)

Possible

In [94]:
inpt3='xxxxyyzz'
#out Not possible
can_not(inpt3)

Not possible

In [3]:
#atmost one element is allowed to remove 
from collections import Counter
def same(inpt1):
    dictn=Counter(inpt1)
    values=list(set(dictn.values()))
    if len(values)>2:
        print('Not possible')
    elif len(values)==2 and values[1]-values[0]>1:
        print("Not possible")
        
    else:
        print("Possible")
        
same(inpt)

Possible

In [4]:
same(inpt3)

Not possible

#### Possible Words using given characters in Python.

In [20]:
Dict = ["go","bat","me","eat","goal","boy", "run"]
arr = ['e','o','b', 'a','m','g', 'l']
#Output : go, me, goal.

In [18]:
#using no dict method 

def possible_words(list1,sublist):
    possible=[]
    for i in list1:
        len_=0
        for j in i:
            if j in sublist:
                len_+=1
        if len_==len(i):
            print(i,end=", ")
            
    
    
possible_words(Dict , arr)

goo, me, goal,

In [21]:
Dict = ["goo","bat","me","eat","goal","boy", "run"]
arr = ['e','o','b', 'a','m','g', 'l']
#Output : me, goal. 

def word_count(word):
    dictn={}
    for i in word:
        dictn[i]=dictn.get(i,0)+1
    return dictn

def words_possible(inpt,charset):
    for word in inpt:
        dict_word=word_count(word)
        flag=0
        for key in dict_word.keys():
            if key not in charset:
                flag=1
                break
            elif charset.count(key)<dict_word[key]:
                flag=1
                break
            else:
                flag=0
        print(word,end=", ") if flag==0 else None       
        
        
words_possible(Dict , arr)

me, goal,

#### Python – Keys associated with Values in Dictionary

In [24]:
test_dict = {'abc' : [10, 30], 'bcd' : [30, 40, 10]} 
#Output : {10: [‘abc’, ‘bcd’], 30: [‘abc’, ‘bcd’], 40: [‘bcd’]}

In [32]:
def function(inpt):
    dictn={}
    for key , value in (inpt.items()):
        for i in (value):
            if i in dictn:
                dictn[i].append(key)
            else:
                dictn[i]=[]
                dictn[i].append(key)
    return dictn
function(test_dict)

{10: ['abc', 'bcd'], 30: ['abc', 'bcd'], 40: ['bcd']}