#### Find length of tuple.

In [1]:
Tuple1 = ("A", 1, "B", 2, "C", 3)

In [3]:
len(Tuple1)

6

In [4]:
len_=0
for i in Tuple1:
    len_+=1
    
len_

6

In [7]:
from functools import reduce
reduce(lambda x,y:x+1,Tuple1,0)

6

#### Maximum and Minimum K elements in Tuple

except minimum k element and maximum k element remove other things.

In [19]:
test_tup = (3, 7, 1, 18, 9) 
#k = 2 
#Output : (3, 1, 9, 18)

test_tup1 = (3, 7, 1) 
#k=1 
Output : (1, 7)

In [20]:
def min_max(inpt,k):
    srtd=sorted(inpt)
    out=[]
    for i in range(k):
        out.insert(i,srtd[i])
        out.insert(i+1,srtd[-i-1])
    return tuple(out)

min_max(test_tup,2)

(1, 3, 9, 18)

In [21]:
min_max(test_tup1,1)

(1, 7)

In [22]:
#using slicing technique

def min_max_1(inpt,k):
    srtd=sorted(inpt)
    return tuple(srtd[:k]+srtd[-k:])
min_max_1(test_tup,2)

(1, 3, 9, 18)

In [23]:
min_max_1(test_tup1,1)

(1, 7)

In [6]:
import heapq

def min_max2(inpt,k):
    out=heapq.nsmallest(k,inpt)+heapq.nlargest(k,inpt)
    return tuple(out)


#input
test_tup = (3, 7, 1, 18, 9) 
#k = 2 
#Output : (1,3,9,18)


min_max2(test_tup,2)

(1, 3, 18, 9)

#### Python program to create a list of tuples from given list having number and its cube in each tuple

In [7]:
inpt=[1,2,3,4]

#output=[(1,1),(2,8),(3,27),(4,64)]

In [11]:
#using list comprehension

[(i,i**3) for i in inpt]

[(1, 1), (2, 8), (3, 27), (4, 64)]

In [12]:
out=[]
for i in inpt:
    out.append((i,i**3))    
out

[(1, 1), (2, 8), (3, 27), (4, 64)]

In [14]:
#using map and lambda
def cube(inpt):
    out=list(map(lambda x:(x,x**3),inpt))
    return out

cube(inpt)

[(1, 1), (2, 8), (3, 27), (4, 64)]

In [23]:
#using recursion

def cube1(inpt):
    if inpt:
        return [(inpt[0],inpt[0]**3)]+cube1(inpt[1:])
    else:
        return []
cube1(inpt)

[(1, 1), (2, 8), (3, 27), (4, 64)]

#### Adding Tuple to List and vice â€“ versa.

In [35]:
lst=[5,6,7]
tup=tuple((8,9))

#add tuple to list and list to tuple

In [36]:
#direct concatenation
#adding tuple to list
a=lst+list(tup)
a

[5, 6, 7, 8, 9]

In [42]:
#ading list to tuple
a=tup+(*lst,)
a

(8, 9, 5, 6, 7)

In [45]:
#using itertools chain method

import itertools

list(itertools.chain(lst,tup))  #adding tuple to list

[5, 6, 7, 8, 9]

In [47]:
tuple(itertools.chain(tup,lst))

(8, 9, 5, 6, 7)

In [63]:
lst=[5,6,7]
tup=tuple((8,9))

#using extend
lst.extend(list(tup))
lst

[5, 6, 7, 8, 9]

In [67]:
lst=[5,6,7]
tup=tuple((8,9))
b=list(tup)
b.extend(lst)
tuple(b)

(8, 9, 5, 6, 7)

#### Closest Pair to Kth index element in Tuple.

In [11]:
test_list = [(3, 4), (78, 76), (2, 3), (9, 8), (19, 25)] 
tup = (17, 23)  #tuple for which we need to find closest
k = 2   #position
#Output : (19, 23) in tup 2nd postn is 23 in test_list tuple we want to find a element in second 
#position of tuples which is colest to one in tup

In [12]:
def closest(test,tup,k):
    tup_=tup[k-1]
    dif,indx=abs(test[0][k-1]-tup_),0
    for index,val in enumerate(test):
        if abs(val[k-1]-tup_)<=dif:
            dif,indx=abs(val[k-1]-tup_),index
    return test[indx]

closest(test_list,tup,k)

(19, 25)

In [13]:
test_list = [(3, 4, 9), (5, 6, 7)] 
tup = (1, 2, 5) 
k= 3 
#Output : (5, 6, 7)

closest(test_list,tup,k)

(5, 6, 7)

In [14]:
test_list = [(3, 4), (78, 76), (2, 223), (9, 228), (19, 225)] 
tup = (17, 23)  #tuple for which we need to find closest
k = 2
closest(test_list,tup,k)

(3, 4)

In [15]:
#using min

def close_pair(test_list,tup,k):
    return min(test_list,key=lambda x: abs(x[k-1]-tup[k-1]))

close_pair(test_list,tup,k)

(3, 4)

In [16]:
test_list = [(3, 4), (78, 76), (2, 3), (9, 8), (19, 25)] 
tup = (17, 23)  
k = 2  

close_pair(test_list,tup,k)

(19, 25)

In [21]:
#using heapq
test_list = [(3, 4), (78, 76), (2, 3), (9, 8), (19, 25)] 
tup = (17, 23)  
k = 2 


import heapq

heapq.nsmallest(1,test_list,key=lambda x:abs(x[k-1]-tup[k-1]))

[(19, 25)]

In [24]:
# using sorted

def min_(inpt):
    return abs(inpt[k-1]-tup[k-1])
sorted(test_list,key=lambda x:min_(x))[0]

(19, 25)

####  Join Tuples if similar initial element

In [25]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]   #input

#Output : [(5, 6, 7, 8), (6, 10), (7, 13)]

In [32]:
def join(inpt):
    out=[]
    first=[]
    for ind,i in enumerate(test_list):
        if i[0] not in first:
            first.append(i[0])
            temp=i
            for j in test_list[ind+1:]:
                if i[0]==j[0]:
                    temp+=j[1:]
            out.append(temp)
    return out

join(test_list)

[(5, 6, 7, 8), (6, 10), (7, 13)]

In [33]:
test_list = [(6,3),(5, 6), (6, 7), (6, 8), (6, 10), (7, 13)] 
#Output : [(6,3, 7, 8, 10), (5, 6),  (7, 13)]

join(test_list)

[(6, 3, 7, 8, 10), (5, 6), (7, 13)]

In [24]:
#using dictionary method
from collections import defaultdict

def join_(inpt):
    out=defaultdict(list)
    for i in inpt:
        out[i[0]].extend(i[1:])
    return [(key,*val) for key , val in out.items()]


test_list = [(6,3),(5,10, 6), (6, 7), (6, 8), (6, 10), (7, 13)] 
#Output : [(6,3, 7, 8, 10), (5,10, 6),  (7, 13)]

join_(test_list)

[(6, 3, 7, 8, 10), (5, 10, 6), (7, 13)]

In [20]:
def join_tuple(inpt):
    out={}
    for i in inpt:
        if i[0] not in out:
            out[i[0]]=[*i[1:]]
        else:
            out[i[0]].extend(list(i[1:]))
    return [(key,*val) for key,val in out.items()]

join_tuple(test_list)

[(6, 3, 7, 8, 10), (5, 10, 6), (7, 13)]

####  Extract digits from Tuple list.

In [28]:
test_list1 = [(15, 3), (3, 9)] 

#Output : [9, 5, 3, 1]

test_list2 = [(15, 3)] 

#Output : [5, 3, 1]

In [33]:
#using regex
import regex as re

def extract(inpt):
    list_=list(map(str,inpt))
    string="".join(list_)
    digits=re.findall('\d',string)
    return sorted(list(set(map(int,digits))),reverse=True)

extract(test_list1)

[9, 5, 3, 1]

In [34]:
extract(test_list2)

[5, 3, 1]

In [45]:
#using itertools chain

from itertools import chain

def extract(inpt):
    flatened=map(str,chain.from_iterable(inpt))
    set_=set()
    for i in flatened:
        for j in i:
            set_.add(j)
    return sorted(list(map(int,set_)),reverse=True)

extract(test_list1)

[9, 5, 3, 1]

In [46]:
extract(test_list2)

[5, 3, 1]

In [53]:
test_list1 = [(15, 3), (3, 9)] 

#Output : [9, 5, 3, 1]

x=""
for i in test_list1:
    for j in i:
        x+=str(j)
        
sorted(list(map(int,set(x))) , reverse=True)

[9, 5, 3, 1]

In [64]:
#using reduce

test_list1 = [(15, 3), (3, 9)] 

#Output : [9, 5, 3, 1]

from functools import reduce

a=set(reduce(lambda a,b: str(a)+str(b),tup) for tup in test_list1)
set(i for j in a for i in j)

{'1', '3', '5', '9'}

####  All pair combinations of 2 tuples

In [65]:
test_tuple1 = (9, 2)
test_tuple2 = (7, 8) 
# Output : [(9, 7), (9, 8), (2, 7), (2, 8), (7, 9), (7, 2), (8, 9), (8, 2)]

In [67]:
def all_combination(inpt1,inpt2):
    out=[]
    for i in inpt1:
        for j in inpt2:
            out.append((i,j))
            
    for j in inpt2:
        for i in inpt1:
            out.append((j,i))
            
    return out

all_combination(test_tuple1,test_tuple2)

[(9, 7), (9, 8), (2, 7), (2, 8), (7, 9), (7, 2), (8, 9), (8, 2)]

#### remove tuple of length k

In [69]:
inpt=[(7,8,9,1),(1,),(2,3),(4,5,6)]
k=4
#output [(1,),(2,3),(4,5,6)]

In [71]:
def remove_(inpt,k):
    for i in inpt:
        if len(i)==k:
            inpt.remove(i)
    return inpt

remove_(inpt,k)

[(1,), (2, 3), (4, 5, 6)]

In [73]:
inpt=[(7,8,9,1),(1,),(2,3),(4,5,6)]
k=3
remove_(inpt,k)

[(7, 8, 9, 1), (1,), (2, 3)]

In [74]:
#using filter
inpt=[(7,8,9,1),(1,),(2,3),(4,5,6)]
k=3
list(filter(lambda x:len(x)!=k,inpt))

[(7, 8, 9, 1), (1,), (2, 3)]

#### Python program to sort a list of tuples by second Item.

In [75]:
inpt=[('for', 24), ('Ghee', 8), ('Ghee', 30)] 

#output [('Ghee', 8), ('for', 24), ('Ghee', 30)]

In [76]:
# using sort with key

def sort_(inpt):
    return sorted(inpt, key=lambda x:x[1])
sort_(inpt)

[('Ghee', 8), ('for', 24), ('Ghee', 30)]

In [79]:
def sorting(inpt):
    out=[]
    for len_ in range(len(inpt)):
        min_i=inpt[0][0]
        min_j=inpt[0][1]
        for i,j in inpt:
               if j<=min_j:
                        min_j=j
                        min_i=i
        out.append((min_i,min_j))
        inpt.remove((min_i,min_j))
    return out

inpt=[('for', 24), ('Ghee', 8), ('Ghee', 30)] 

#output [('Ghee', 8), ('for', 24), ('Ghee', 30)]

sorting(inpt)

[('Ghee', 8), ('for', 24), ('Ghee', 30)]

In [82]:
inpt=[('for', 24), ('Ghee', 8), ('Ghee', 30)] 

#output [('Ghee', 8), ('for', 24), ('Ghee', 30)]

inpt.sort(key=lambda x:x[1])
inpt

[('Ghee', 8), ('for', 24), ('Ghee', 30)]

#### Order tuple by list

In [84]:
test_list = [('Gfg', 3), ('best', 9), ('CS', 10), ('Geeks', 2)]

ord_list = ['Geeks', 'best', 'CS', 'Gfg']

#output [('Geeks', 2), ('best', 9), ('CS', 10), ('Gfg', 3)]

In [85]:
def order_tuple(inpt,ord_list):
    inpt_dict=dict(inpt)
    out={}
    for i in ord_list:
        out[i]=inpt_dict[i]
    return [(key,val) for key,val in out.items()]

order_tuple(test_list,ord_list)

[('Geeks', 2), ('best', 9), ('CS', 10), ('Gfg', 3)]

In [86]:
def order(inpt,ord_list):
    inpt_dict=dict(inpt)
    return [(i,inpt_dict[i]) for i in ord_list]
order(test_list,ord_list)

[('Geeks', 2), ('best', 9), ('CS', 10), ('Gfg', 3)]

In [89]:
#using for loop and index() method

def order_by_list(inpt,ord_list):
    inp=[]
    out=[]
    for i in inpt:
        inp.append(i[0])
    for j in ord_list:
        if j in inp:
            out.append(inpt[inp.index(j)])
            
    return out

test_list = [('Gfg', 3), ('best', 9), ('CS', 10), ('Geeks', 2)]

ord_list = ['Geeks', 'best', 'CS', 'Gfg']

#output [('Geeks', 2), ('best', 9), ('CS', 10), ('Gfg', 3)]
order_by_list(test_list,ord_list)

[('Geeks', 2), ('best', 9), ('CS', 10), ('Gfg', 3)]

In [120]:
test_tuple = ([5], [6], [3], [8]) 
#Output : (5, 6, 3, 8) 
    
test_tuple1 = ([5, 7, 8]) 
#Output : (5, 7, 8)

In [129]:
def tuple_(inpt):
    out=tuple()
    for i in inpt:
        if type(i)==list:
              out=out+tuple(i)
        else:
            out=out+tuple([i])
    return out

tuple_(test_tuple)

(5, 6, 3, 8)

In [130]:
tuple_(test_tuple1)

(5, 7, 8)

In [131]:
tuple_(([5, 6], [6, 7, 8, 9], [3]))

(5, 6, 6, 7, 8, 9, 3)